.TopSection {
  background: url('../img/img_1_sm.jpg') center no-repeat;
  height: 100vh;
}
.TopSection::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px black, -120px -100px -250px black;
}
